<!--header.html-->

<!doctype html>
<html>
  <body id="page-top">
    <!-- <div class="container"> -->
    <head>
        <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico">
        <!--Use the `title` variable to set the title of the page-->
        <title>MFC_LogWork</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Local -->
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
        <!-- <link rel="stylesheet" href="/node_modules/typeahead.js-bootstrap4-css/typeaheadjs.css"> -->
        <script src="/node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>

        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/node_modules/popper.js/dist/popper.min.js"></script>  
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/node_modules/jquery.easing/jquery.easing.min.js"></script>
        <script src="/node_modules/chart.js/dist/Chart.min.js"></script>
        <script src="/node_modules/bootstrap-3-typeahead/bootstrap3-typeahead.min.js"></script>
        
        
                
        <link rel="stylesheet" href="/web/css/My.css">
        <script src="/web/js/My.js"></script> 

        <link rel="stylesheet" href="/web/css/sb-admin.css">
        <link rel="stylesheet" href="/web/css/sb-admin.min.css ">
        <script src="/web/js/sb-admin.js"></script> 
        <script src="/web/js/sb-admin.min.js"></script> 


        <link rel="stylesheet" href="/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css">
        <!-- <script src="/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js"></script> -->
        <!-- <link rel="stylesheet" href="/web/css/dataTables.bootstrap4.min.css"> -->
        <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"> -->

        <!-- <link rel="stylesheet" href="/node_modules/datatables.net-buttons-bs4/css/buttons.bootstrap4.css"> -->
        <!-- <script src="/node_modules/datatables.net-buttons-bs4/js/buttons.bootstrap4.js"></script> -->
        <!-- <link rel="stylesheet" href="/web/css/buttons.bootstrap4.min.css"> -->
        <!-- <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css"> -->

        <!-- yandex addres -->
        <script src="//api-maps.yandex.ru/2.1/?apikey=<ваш API-ключ>&lang=ru_RU&load=SuggestView&onload=onLoad"></script>

        <script src="/node_modules/jquery.maskedinput/src/jquery.maskedinput.js"></script>
        
        <!-- Export table -->
        <script src="/node_modules/tableexport.jquery.plugin/tableExport.min.js"></script>
       
        <script src="/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
        <!-- <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> -->


        <script src="/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
        <!-- <script src="/web/js/dataTables.bootstrap4.min.js"></script> -->
        <!-- <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script> -->

        <script src="/node_modules/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <!-- <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script> -->
        
        <script src="/web/js/buttons.bootstrap4.min.js"></script>
        <!-- <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script> -->

        <script src="/node_modules/jszip/dist/jszip.min.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script> -->

        <script src="/node_modules/pdfmake/build/pdfmake.min.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script> -->

        <script src="/node_modules/pdfmake/build/vfs_fonts.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script> -->
        
        <script src="/node_modules/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <!-- <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script> -->
        
        <script src="/node_modules/datatables.net-buttons/js/buttons.print.min.js"></script>
        <!-- <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script> -->
        
        <script src="/node_modules/datatables.net-buttons/js/buttons.colVis.min.js"></script>
        <!-- <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script> -->
        
        <script src="/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
        <!-- <link rel="stylesheet" href="/node_modules/bootstrap-tree-view/css/core.css"> -->
        <!-- <link rel="stylesheet" href="/node_modules/bootstrap-tree-view/css/tree.css"> -->

        <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css"> -->
        
        <link rel="stylesheet" href="/web/css/tree.css">
        <script src="/web/js/tree.js"></script>

        <!-- <script src="/node_modules/bootstrap-tree-view/js/core.js"></script> -->
        <!-- <script src="/node_modules/bootstrap-tree-view/js/tree.js"></script> -->

        <!-- CDN -->
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script> -->

        <!-- Latest compiled and minified CSS -->
        <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script> -->
    </head>
    
    {{ template "menu.html" . }} 
 