<!--menu.html-->
<div id="navbar">
        <a class="navbar-brand" href="#" rel="home" href="#" title="МФЦ">
            <img src="/assets/mfc.png" width="24" height="30" class="d-inline-block align-top" alt="">  МФЦ
        </a>
        {{ if .is_logged_in }}
            <a class="nav-item nav-link" href="/operator">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Оператор</span>
            </a>
            <a class="nav-link" href="/controller">
                <i class="fas fa-fw fa-folder"></i>
                <span>Контроллер</span>
            </a>
            <a class="nav-link" href="/history">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>История</span>
            </a>
            <a class="nav-link" href="/report">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Отчеты</span>
            </a>
            <a class="nav-link" href="/service">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Услуги</span>
            </a>
        {{end}}
        {{ if .is_logged_in }}
            <a class="nav-link" href="/adminka">
                <i class="fas fa-fw fa-hammer"></i>
                <span>Админка</span>
            </a>
        <div class="topnav-right">
            <a class="nav-link" href="/logout">
                <i class="fas fa-fw fa-sign-out-alt"></i>
                <span>Выход</span>
            </a>
        </div>
        {{end}}
        {{ if not .is_logged_in }}
        <div class="topnav-right">
            <a class="nav-link" href="/register">
                <i class="fas fa-fw fa-list-ul"></i>
                <span>Регистрация</span>
            </a>
        </div>
        {{end}}
        
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
</div>